#box {
    margin-bottom: 20px;
}

.option {
    background-color: #FCE4B1;
    font-family: Comfortaa;
    grid-row: 2;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 10px; */
    border-radius: 20px;
    border: 1px solid #FCE4B1;
}

.option:hover {
    border: 1px solid #6b4d38;
}

.optionDiv {
    font-family: Comfortaa;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr;
    gap: 0px 10px;
    margin: 10px;
}

.optionDiv>p {
    grid-column: 1/3;
}

#startTimer {
    margin: 20px;
    height: 50px;
    padding: 10px;
}

.chosen {
    background-color: #b6a379;
}


#popUp {
    position: absolute;
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpBackground {
    position: absolute;
    background-color: white;

    opacity: 50%;
    height: 100%;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpWindow {
    position: absolute;
    background-color: #fce4b1;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #41000d47;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#popUpWindow button {
    border: 0px;
    border-radius: 5px;
    /* background-color: var(--beige); */

    transition: 0.5s;
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

#popUpWindow #prompt {
    font-family: Comfortaa;
    padding: 10px;
}

/* #popUpWindow button:hover {
    background-color: var(--brown);
    color: #6b4d38;
} */

.hidden {
    display: none !important;
}